<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:maxSdkVersion="30"
        tools:ignore="ScopedStorage"/>


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.4TFoodFrenzy"
        tools:targetApi="31">
<!--        <activity-->
<!--            android:name=".View.AdminDashboard"-->
<!--            android:exported="false" />-->
        <activity
            android:name=".View.GoogleAuthenticateActivity"
            android:exported="false" />
        <activity
            android:name=".View.FacebookAuthenticateActivity"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name=".View.AddNewRecipe"
            android:exported="false" />
        <activity
            android:name=".View.ShowRecipeDetailsDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".View.AfterSearchActivity"
            android:exported="false" />
        <activity
            android:name=".View.SortRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".View.NewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".View.VerificationCodeActivity"
            android:exported="false" />
        <activity
            android:name=".View.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".View.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".View.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".View.ShowRecipeDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".View.AddRecipeActivity1"
            android:exported="false" />
        <activity
            android:name=".View.AddRecipeActivity2"
            android:exported="false" />
        <activity
            android:name=".View.AddRecipeActivity3"
            android:exported="false" />
        <activity
            android:name=".View.AddRecipeActivity4"
            android:exported="false" />
        <activity
            android:name=".View.AddStepActivity"
            android:exported="false" />
        <activity
            android:name=".View.AddIngredient"
            android:exported="false" />
        <activity
            android:name=".View.WriteCommentActivity"
            android:exported="false" />
        <activity
            android:name=".View.SearchScreen"
            android:exported="false" />
        <activity
            android:name=".View.CommentListActivity"
            android:exported="false" />
        <activity
            android:name=".View.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".View.ProfileActivity"
            android:exported="true" />
        <activity
            android:name=".View.AccountDetailsManagementActivity"
            android:exported="false" />
        <activity
            android:name=".View.CommentDetailsManagementActivity"
            android:exported="true" />
        <activity
            android:name=".View.LoginRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".View.LogoutActivity"
            android:exported="false" />
        <activity
            android:name=".View.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>