<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"
        android:maxSdkVersion="30"
        tools:ignore="ScopedStorage"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.4TFoodFrenzy"
        tools:targetApi="31">
        <activity
            android:name=".Controller.Activity.AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".Controller.Activity.GoogleAuthenticateActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.Activity.FacebookAuthenticateActivity"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_application_id" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <activity
            android:name=".Controller.Activity.AddNewRecipe"
            android:launchMode="singleInstance"
            android:exported="false" />
        <activity
            android:name=".Controller.Activity.ShowRecipeDetailsDescriptionActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.Activity.AfterSearchActivity"
            android:launchMode="singleInstance"
            android:exported="false" />
        <activity
            android:name=".Controller.Activity.SortRecipeActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.NewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.VerificationCodeActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.Activity.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.Activity.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.Activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.Activity.ShowRecipeDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.Activity.AddRecipeActivity1"
            android:exported="false" />
        <activity
            android:name=".Controller.Activity.AddRecipeActivity2"
            android:exported="false" />
        <activity
            android:name=".Controller.Activity.AddRecipeActivity3"
            android:exported="false" />
        <activity
            android:name=".Controller.Activity.AddRecipeActivity4"
            android:exported="false" />
        <activity
            android:name=".Controller.Activity.AddStepActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.Activity.AddIngredient"
            android:exported="false" />
        <activity
            android:name=".Controller.Activity.WriteCommentActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.Activity.SearchScreen"
            android:launchMode="singleInstance"
            android:exported="false" />
        <activity
            android:name=".Controller.Activity.CommentListActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.Activity.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.Activity.ProfileActivity"
            android:launchMode="singleInstance"
            android:exported="true" />
        <activity
            android:name=".Controller.Activity.AccountDetailsManagementActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.Activity.CommentDetailsManagementActivity"
            android:exported="true" />
        <activity
            android:name=".Controller.Activity.LoginRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".Controller.Activity.LogoutActivity"
            android:launchMode="singleInstance"
            android:exported="false" />
        <activity
            android:name=".Controller.Activity.MainActivity"
            android:launchMode="singleInstance"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>